@use "@/settings/colors";
@use "@/settings/typography";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem 6rem;
  color: white;
  font-family: typography.$accent-font;
  font-size: 160;
  font-weight: 700;
}

.claim {
  width: 80vw;
  max-width: 1150px;
  font-size: min(12vw, 10rem);
  line-height: 1.1;
  text-align: center;
  color: transparent;
  background-image: colors.$gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
