@use '@/styles/settings/colors';
@use '@/styles/settings/typography';

.heading {
    font-family: typography.$accent-font;
    color: transparent;
    background-image: colors.$gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &--h1 {
        font-size: min(12vw, 10rem);
        line-height: 1.1;
    }

    &--h2 {
        margin-bottom: 0.5em;
        font-size: 2.5rem;
        line-height: 1.12;
    }

    &--h3 {
        margin-bottom: 0.5em;
        font-size: 1.5rem;
        line-height: 1.12;
    }
}
