@use '@/styles/utils/fluid';

.paragraph {
    margin: 1em 0;

    &--large {
        font-size: fluid.scale(1.2rem, 1.8rem);
        line-height: 1.5;
    }

    &--small {
        font-size: fluid.scale(0.8rem, 0.9rem);
    }

    &--center {
        text-align: center;
    }
}
