@use '@/styles/settings/typography';
@use '@/styles/utils/fluid';

.paragraph {
    margin: 1em 0;

    &--large {
        font-size: typography.$font-size-large;
        line-height: 1.5;
    }

    &--small {
        font-size: typography.$font-size-small;
    }

    &--center {
        text-align: center;
    }

    &--whitespace-pre-line {
        white-space: pre-line;
    }
}
