@use '@/styles/settings/colors';

@mixin bottom($reverse: false, $is-positioned: false) {
    @if $is-positioned == false {
        position: relative;
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        content: '';

        @if $reverse {
            background-image: colors.$gradient-reverse;
        } @else {
            background-image: colors.$gradient;
        }
    }
}
