@use '@/styles/settings/colors';
@use '@/styles/settings/typography';
@use '@/styles/utils/fluid';

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: transparent;
    font-family: typography.$accent-font;
    font-size: 160;
    font-weight: 700;

    &__title-wrapper {
        display: inline-block;
        transform-origin: center;
        will-change: transform, opacity;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    &__title {
        font-size: fluid.scale(3rem, 10rem);
        line-height: 1.1;
        letter-spacing: -0.02em;
        text-align: center;
        color: transparent;
        background-image: colors.$gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
