@use 'sass:math';
@use '../settings/spaces';

// https://www.smashingmagazine.com/2022/10/fluid-typography-clamp-sass-functions/#creating-a-basic-automated-fluid-function
@function scale(
    $min-size,
    $max-size,
    $min-breakpoint: 25rem,
    $max-breakpoint: spaces.$content-max-width,
    $unit: vw
) {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: $slope * 100;
    $intercept: $min-size - $slope * $min-breakpoint;

    $lower: if($min-size < $max-size, $min-size, $max-size);
    $upper: if($min-size > $max-size, $min-size, $max-size);

    @return clamp(
        #{$lower},
        #{$slope-to-unit}#{$unit} + #{$intercept},
        #{$upper}
    );
}
