$primary-dark: #4a2993;
$primary-dark-text: #6b47bb;
$primary-bright: #73e5cb;

$background: #333333;
$background-highlight: #3a3a3a;

$text: #cbf5ec;

$gradient: linear-gradient(135deg, $primary-bright, $primary-dark);
$gradient-text: linear-gradient(135deg, $primary-bright, $primary-dark-text);
$gradient-reverse: linear-gradient(315deg, $primary-bright, $primary-dark-text);
