$body-font: 'Montserrat', 'arial', sans-serif;
$accent-font: 'Poppins', 'arial', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;

$content-max-width: 75rem;
$content-narrow-width: 55rem;
$section-side-padding: 4vw;
$section-max-width: calc(#{$content-max-width} + 2 * #{$section-side-padding});
$section-narrow-width: calc(
    #{$content-narrow-width} + 2 * #{$section-side-padding}
);
