@use '@/styles/utils/fluid';

$body-font: 'Montserrat', 'arial', sans-serif;
$accent-font: 'Poppins', 'arial', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;

$font-size-default: fluid.scale(1rem, 1.125rem);
