@use '@/styles/settings/colors';
@use '@/styles/settings/spaces';
@use '@/styles/settings/z-index';

.modal {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3rem 2rem;
    color: colors.$text;
    border: 0;
    border-radius: spaces.$border-radius;
    background-color: colors.$background-highlight;

    // &::backdrop {
    // }
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    z-index: z-index.$modal-backdrop;
    background-color: rgba(colors.$background, 0.5);
    backdrop-filter: blur(10px);
}
