@use '@/styles/settings/colors';
@use '@/styles/settings/spaces';
@use '@/styles/settings/typography';
@use '@/components/elements/gradient-border/gradient-border';

$tab-padding: 2rem;

.job-tabs {
    &__tab {
        width: calc(100% + 2rem);
        margin-left: -$tab-padding;
        padding: 0.75rem $tab-padding;
        box-sizing: border-box;

        &-title {
            margin: 0;
        }

        &-subtitle {
            margin: 0;
        }

        &.tab--is-active {
            border-radius: spaces.$border-radius 0 0;
            background-color: colors.$background-highlight;
            @include gradient-border.bottom();
        }
    }

    &__tab-panel {
        padding-block: 2rem;
        padding-inline: 4rem 2rem;
        background-color: colors.$background-highlight;
        border-radius: spaces.$border-radius spaces.$border-radius 0 0;
        @include gradient-border.bottom($reverse: true);

        &--is-first {
            border-radius: 0 spaces.$border-radius 0 0;
        }

        &-title {
            margin-bottom: 1em;
            font-weight: typography.$font-weight-bold;
        }
    }
}
