@use '@/styles/settings/typography';

.section {
    margin: 0 auto;
    width: 100%;
    padding: 0 typography.$section-side-padding;

    &--narrow {
        max-width: typography.$content-narrow-width;
    }

    &--wide {
        max-width: typography.$content-max-width;
    }

    &--margin {
        &-top {
            &-0-5 {
                margin-top: 0.5rem;
            }

            &-1 {
                margin-top: 1rem;
            }

            &-1-5 {
                margin-top: 1.5rem;
            }

            &-2 {
                margin-top: 2rem;
            }

            &-3 {
                margin-top: 3rem;
            }

            &-4 {
                margin-top: 4rem;
            }

            &-6 {
                margin-top: 6rem;
            }

            &-8 {
                margin-top: 8rem;
            }

            &-12 {
                margin-top: 12rem;
            }

            &-16 {
                margin-top: 16rem;
            }
        }

        &-bottom {
            &-0-5 {
                margin-bottom: 0.5rem;
            }

            &-1 {
                margin-bottom: 1rem;
            }

            &-1-5 {
                margin-bottom: 1.5rem;
            }

            &-2 {
                margin-bottom: 2rem;
            }

            &-3 {
                margin-bottom: 3rem;
            }

            &-4 {
                margin-bottom: 4rem;
            }

            &-6 {
                margin-bottom: 6rem;
            }

            &-8 {
                margin-bottom: 8rem;
            }

            &-12 {
                margin-bottom: 12rem;
            }

            &-16 {
                margin-bottom: 16rem;
            }
        }
    }
}
