@use '@/styles/settings/typography';
@use '@/styles/utils/fluid';

$margin-sizes: (
    2: 2rem,
    4: 4rem,
    8: 8rem,
    16: fluid.scale(12rem, 16rem),
);

$margin-directions: (
    top: margin-top,
    bottom: margin-bottom,
);

.section {
    margin: 0 auto;
    width: 100%;
    padding: 0 typography.$section-side-padding;

    &--narrow {
        max-width: typography.$section-narrow-width;
    }

    &--wide {
        max-width: typography.$section-max-width;
    }

    &--margin {
        @each $size-name, $size-value in $margin-sizes {
            @each $direction, $property in $margin-directions {
                &-#{$direction}-#{$size-name} {
                    #{$property}: $size-value;
                }
            }
        }
    }
}
